.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}
/* Shared Style */
.color_primary {
    color: #fd6e0a;
}
.bg_primary {
    background-color: #fff8f3;
}
.section_title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section_description {
    font-size: 18px;
    color: #757575;
}
.text_center {
    text-align: center;
}
.dark_1 {
    color: #181818;
}
.dark_2 {
    color: #474747;
}
.dark_3 {
    color: #757575;
}
.btn_primary {
    background-color: #fd6e0a;
    padding: 18px 36px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main {
    max-width: 1140px;
    margin: 0 auto 100px;
}

/* Todo: Nav Style */

.header {
    /* max-width: 1600px; */
    /* margin: 60px auto; */
    /* padding-bottom: 70px; */
    background-image: url("../images/developer.png"),
        url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row-reverse; */
    margin: 50px 200px;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    /* margin-left: auto; */
    gap: 50px;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

.nav_title {
    font-weight: 800;
    font-size: 45px;
}

/* Todo: Banner section */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner_content {
    max-width: 580px;
}
.banner_greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner_title {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner_description {
    margin-bottom: 30px;
}

.banner_profile_pic {
    width: 580px;
}

body > header > div > div > button:nth-child(4) {
    margin-right: 30px;
}

/* Todo: About Styles */
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin: 100px 0;
    /* gap: 30px; */
}
.about_des {
    margin: 30px 0;
}
.about_items {
    display: flex;
    justify-content: space-between;
}
.item_title {
    font-size: 20px;
    color: #757575;
}
.item_description {
    font-weight: 600;
    font-size: 20px;
    color: #474747;
}

/* Skills Styling */
.skills {
    margin: 130px 0;
}
.skill_des {
    margin: 30px 0 50px;
}

.skills_container {
    display: flex;
    gap: 25px;
}

.skills_item {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.07);
}

.skills_title {
    font-size: 20px;
    color: #181818;
    font-weight: bold;
    margin: 30px 0 30px;
}
.skills_description {
    color: #757575;
}

/* ! Resume styles */

.resume_container {
    display: flex;
    gap: 70px;
    margin-top: 100px;
}
.resume_container .main_title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;

    margin-bottom: 30px;
}

.education .resume_title,
.experience .resume_title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.education .resume_subtitle,
.experience .resume_subtitle {
    font-size: 20px;
    /* font-weight: bold; */
    color: #757575;
    margin-bottom: 20px;
}

.resume_btn {
    margin-top: 50px;
}

hr {
    margin: 30px 0;
}

/* Footer Styles */

footer {
    padding: 130px 0;
}
.footer_container {
    display: flex;
    margin: 130px;
    gap: 100px;
}
.footer_column {
    flex: 1;
    /* background: lightblue; */
}
.ft_des {
    margin: 20px 0 30px;
}

.footer_links img {
    margin-right: 20px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    display: block;
    width: 100%;
    height: 64px;
    margin: 24px 0;
    padding: 18px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
}

form textarea {
    height: 180px;
    width: 100%;
}
